body {
  margin: 0;
  background: black;
  color: white;
  font-family: Impact;
}

.cover {
  height: 100vh;
  text-align: center;
}

img {
  max-height: 100%;
}
p {
  position: sticky;
  top: 0;
  width: 100%;
  font-size: 30px;
  background: black;
  padding: 20px;
  margin: 0;
}
